.main-header{
    width: 1272px;
    height: 275px;
    background-color: #445161;
    display: flex;
}
.main-header-title{
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 69px;
display: flex;
color: #FFFFFF;
padding:25px 0 0 50px;
}
 .main-header-img{
     position:absolute;
    margin-left:750px ;
    height:217px ;
    width: 472px;
    padding-top:25px ;
 }
 .main-header-list-item{
color: cornsilk;
 }
 .main-header-list{
     padding-left: 73px;
     list-style-type:circle;
 }
 .pox{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #445161;
    margin:64px 0 0 50px;
 }
 .per{
     max-width:646px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #333333;
padding-left: 50px;
 }
 .about-product{
     display: flex;
 }
 .vid{
     height: 245px;
     width:430px;
     margin:45px 0 50px 96px;
 }
 .dimagay{
text-align: center;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #445161;
padding-top: 25px;
 }
 .dignity{
width: 1272px;
height: 400px;
background: #F5F5F5; 
 }
.sasi{
    display: flex;
}
.sase{
    display: flex;
}
.ok{
    display: flex;
}
.vis{
   margin-left: 50px;
   margin-top: 29px; 
}
.sas{
 margin-top: 22px;
 padding-left: 8px;
 max-width: 556px;
}
.visa{
    margin-left: 6px;
    margin-top:22px;
}
.vist{
    margin-left: 50px;
    margin-top:33px;
}
.visd{
    margin-left: 6px;
    margin-top:33px;
}
.viso{
    margin-left: 50px;
    padding-top: 34px;
}
.vism{
    margin-left: 6px;
    padding-top: 34px;
}
.stas{
    padding-right: 20px;
    padding-left: 8px;
    max-width: 556px;
}
.serg{
    padding-top:12px;
    padding-left: 8px;
    max-width: 556px;
}
.or{
    padding-left: 8px; 
    padding-top: 10px;
    max-width: 556px;
}

.ma{
    padding-left: 8px; 
    padding-top: 10px;
    max-width: 556px;
}
.pa{
    padding-left: 8px; 
    padding-top: 10px; 
    max-width: 556px;
}
.screenshots{
    width: 1272px;
    height:490px;
}
.headd{
    text-align: center;
font-size: 30px;
line-height: 36px;
margin-top: 25px;
color: #445161;
font-family: Arial;
font-style: normal;
font-weight: normal;
}
.trum{
    display: flex;
    max-width: 575px;
    max-height: 153px;
}
.trumul{
    display: flex;
    max-width: 575px;
    max-height:153px;
}
.trumak{
    display: flex;
    max-width: 575px;
    max-height:153px;
}
.laik{
    display: flex;
    max-width: 575px;
    max-height:153px;
    margin-top:27px ;
}
.alah{
    display: flex;
}
.babax{
    display: flex;
}
.arduin{
    width: 340px;
height: 30px;
left: 216px;
top: -2px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #445161;
}
.hola{
    padding-left:14px ; 
    margin-top: 16px;
}
.sdf{
    margin-top: 45px;
}
.trumak{
    margin-top: 27px;
}
.rev-img{
    border-radius: 50px;
    margin:31px 0 0 62px;
}
.reviews{
    height: 400px;
    width:1272px;
    background: #F5F5F5;
}
.rev-hd{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
text-align: center;
padding:25px 0 0 0;
}
.inf{
    display:flex;
}
.comments{
    display:flex;
}
.txt{
    padding: 15px;
    margin-left: 15px;
    background: #EBEBEB;
    border-radius: 5px;
    max-width: 458px;
    font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
color: #000000;
width: 458px;
height: 77px;
flex-direction: column;
max-height: 121px;
}
.cum{
    margin-top: 29px;
}
.sekos{
    margin-top: 22px;
}
.person{
    margin-right: 403px;
    white-space: nowrap;
    font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
color: #989898;
text-decoration: none;
margin-top:12px;
}
.prices{
    height: 664px;

}
.petux{
    display: flex;
    margin:26px 0 0 0;
    justify-content: space-between;

}
.tut{
    background-color:#445161;
    width: 300px;
height: 332px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
margin:219px 0 0 145px;
border-radius: 4px;
}
.tam{
    background-color:#445161;
    width: 300px;
height: 430px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
margin-top: 121px;
border-radius: 4px;
}
.zdes{
    background-color:#445161;
    width: 300px;
height: 525px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
margin:26px 137px 0 0;
border-radius: 4px;
}
.bheader{
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-align: center;
}
.bhh{
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #445161;
text-align: center;
margin-top: 45px;
}
.bucks{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 30px;
    color: #445162;
    background: #FFFFFF;
border: 2px solid #445162;
box-sizing: border-box;
padding:25px 76px 16px 107px;

}
.price-button{
    width: 262px;
    height: 43px;
    margin-left: 19px;
    font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 18px;
color: #445161;
border-radius: 3px;
}
.footerpro{
    background: #445162;
    width:1272px;
    height:545px; 
}
.foot{
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #FFFFFF;
text-align: center;
padding:2px 0 7px 476px;
}
.input{
    width:503px;
    height: 43px;
    border-radius: 7px;
    margin-bottom: 18px;
    margin-left: 247px;
}
.area{
    width:503px;
    height: 173px;
    border-radius: 7px;
    margin: 0 0 18px 247px;
    padding:12px 0 7px 12px;
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.icons{
display: flex;
flex-direction: column;
}
.bigdiv{
    display: flex;
    margin-left: 49px;
    margin-top: 110px;
}
.largest{
    display: flex;
}
.foot-img{
    padding-bottom: 5px;
    padding-top:19px ;
}
.spisok{
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
list-style-type:none ;
}
.sonof{
    padding-bottom:20px;
}
.lastbut{
    padding:12px 19px 33px 19px;
    margin-left: 427px;
    background: #FFFFFF;
    width: 143px;
height: 43px;
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
align-items: center;
text-transform: uppercase;
color: #445162;
border-radius: 7px;
}
.poslednee{
    width:1272px;
    text-align: center;
    height: 49px;
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 24px;
letter-spacing: 0.3px;
color: #445162;
} 